.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Lora, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  color: #2e2e2e;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 22px;
}

a {
  color: #dd783f;
  text-decoration: none;
}

a:hover {
  color: #c2581b;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
}

.hero-section {
  position: relative;
  display: block;
  height: 500px;
  padding-top: 184px;
  background-image: linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(32, 32, 32, 0.14) 98%), url('../images/photo-1439189741837-58720e8d82d5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.navbar {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-bottom: -1px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #1bd5d2;
}

.menu-link {
  display: inline-block;
  margin-right: 1px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.menu-icon {
  display: inline-block;
  float: right;
  line-height: 13px;
}

.menu-button {
  display: block;
  margin-top: 0px;
  padding: 10px 8px 9px;
  float: right;
  border-radius: 2px;
  -webkit-transition: background-color 350ms ease, color 350ms ease;
  transition: background-color 350ms ease, color 350ms ease;
  color: hsla(0, 0%, 100%, 0.85);
}

.menu-button:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.menu-button.w--open {
  background-color: hsla(0, 0%, 100%, 0.25);
}

.long-text {
  margin-top: 7px;
  margin-bottom: 31px;
  padding-top: 0px;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
}

.hero-heading {
  margin-bottom: 14px;
  color: #fff;
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
}

.hero-subheading {
  margin-bottom: 30px;
  font-family: Oxygen, sans-serif;
  color: hsla(0, 0%, 100%, 0.63);
  font-size: 18px;
  font-weight: 300;
}

.hero-content {
  text-align: center;
}

.button {
  padding: 12px 31px;
  border-radius: 3px;
  background-color: #4d565d;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.button:hover {
  background-color: #ac0003;
  color: #fff;
}

.main-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

.main-section.dark {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px none #000;
  background-color: #4d565d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 47, 56, 0.47)), color-stop(99%, rgba(35, 47, 56, 0.31))), url('../images/footer-bg.jpg');
  background-image: linear-gradient(180deg, rgba(35, 47, 56, 0.47), rgba(35, 47, 56, 0.31) 99%), url('../images/footer-bg.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.main-section.gray {
  background-color: #f8f8f8;
}

.main-section.bottom-padding {
  padding-top: 20px;
  padding-bottom: 0px;
}

.thumbnail-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
}

.thumbnail-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 2px 23px 0px;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.blog-title {
  display: inline-block;
  margin-bottom: 6px;
  color: #101315;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.category-tag {
  position: absolute;
  left: 10px;
  top: 4px;
  display: inline-block;
  margin-top: 6px;
  margin-right: 6px;
  padding: 6px;
  border-radius: 2px;
  background-color: #5cc489;
  font-family: Oxygen, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.thumbnail-text {
  position: relative;
  overflow: hidden;
  height: 93px;
  padding: 13px;
  border-top: 1px solid #e5e5e5;
}

.thumbnail-date {
  display: inline-block;
  float: right;
  font-family: Oxygen, sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 35px;
}

.thumbnail-date.lite {
  display: none;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 12px;
}

.author-img {
  position: static;
  right: 10px;
  bottom: 10px;
  width: 26px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  float: left;
  border-radius: 60px;
}

.thumb-details {
  padding: 6px 13px;
  border-top: 1px solid #efefef;
  background-color: #fcfcfc;
}

.preview-text {
  overflow: hidden;
  height: 40px;
  font-family: Oxygen, sans-serif;
  color: #7a7a7a;
  font-size: 13px;
  line-height: 19px;
}

.author-title {
  float: left;
  font-family: Oxygen, sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 35px;
}

.author-title.lite {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 12px;
}

.container {
  display: block;
  width: 1100px;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.section-heading {
  text-align: center;
}

.med-divider {
  display: block;
  width: 20%;
  height: 1px;
  margin: 16px auto;
  background-color: #dedede;
  list-style-type: lower-alpha;
}

.white {
  color: #efefef;
  font-weight: 400;
}

.form-wrapper {
  display: block;
  width: 500px;
  margin: 20px auto 80px;
}

.field {
  width: 75%;
  height: 50px;
  float: left;
  border: 1px none #000;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #4d565d;
  font-size: 15px;
}

.submit-button {
  width: 25%;
  height: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.28);
  -webkit-transition: background-color 350ms ease, color 350ms ease;
  transition: background-color 350ms ease, color 350ms ease;
  font-family: Oxygen, sans-serif;
}

.submit-button:hover {
  background-color: #ac0003;
}

.footer-section {
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.12);
  background-color: rgba(35, 47, 56, 0.6);
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0px 3px 20px;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  font-family: Oxygen, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #fff;
}

.footer-link.w--current {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.thumbnail-image {
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #d6d6d6;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.featured-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.featured-wrapper:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.featured-wrapper.hero-section.slider-1 {
  padding-top: 0px;
  background-image: linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(32, 32, 32, 0.14) 98%);
}

.featured-wrapper.hero-section.slider-1:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.featured-wrapper.hero-section.slider-2 {
  padding-top: 0px;
  background-image: url('../images/photo-1439189741837-58720e8d82d5.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.featured-wrapper.hero-section.slider-2:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.featured-text {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  padding: 0px 20px 62px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.03)), color-stop(46%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.76)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.6) 46%, rgba(0, 0, 0, 0.76));
}

.featured-title {
  display: block;
  margin-bottom: 4px;
  padding-right: 20px;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  text-align: left;
}

.blog-tag-1 {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 48;
  display: block;
  padding: 7px 9px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 20px;
  background-color: #ac0003;
  box-shadow: none;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.featured-description {
  padding-top: 5px;
  padding-right: 100px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  text-align: left;
}

.featured-details {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  padding: 10px 20px 30px;
}

.featured-image {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 3px;
}

.featured-image.first {
  height: 300px;
}

.featured-image.second {
  height: 300px;
}

.featured-image.slider-1 {
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 29, 0.3)), to(rgba(29, 29, 29, 0.3)));
  background-image: linear-gradient(180deg, rgba(29, 29, 29, 0.3), rgba(29, 29, 29, 0.3));
}

.featured-image.slider-2 {
  height: 500px;
  background-image: url('../images/photo-1443304895043-ef30921332c5.jpg');
}

.blog-date {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
  color: #999;
  line-height: 25px;
}

.blog-category {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 6px;
  border-radius: 2px;
  color: #d25f7c;
  text-decoration: none;
  text-transform: uppercase;
}

.author-link {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.author-link:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.author-wrapper {
  display: block;
  width: 70%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.author-name {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #353535;
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.author-name:hover {
  color: #243039;
}

.inner-hero {
  position: relative;
  height: 300px;
  padding-top: 100px;
  background-image: url('../images/bridges.jpg');
  background-position: 50% 50%;
  background-size: cover;
  font-size: 14px;
  text-align: center;
}

.inner-hero.about-page {
  background-image: url('../images/photo-1438636740648-37d6fed50dad.jpg');
  background-size: cover;
}

.inner-hero.category {
  background-image: url('../images/photo-1413977886085-3bbbf9a7cf6e.jpg');
  background-size: cover;
}

.author-picture {
  position: relative;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 17px;
  float: left;
  border-radius: 6px;
}

.author-name-main {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.authorbio p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 29px;
}

.author-links {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  padding: 1px 0px;
  opacity: 0.7;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.author-links:hover {
  opacity: 1;
}

.social-wrapper {
  margin-bottom: 8px;
}

.hero-header {
  margin-bottom: 0px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 38px;
  line-height: 35px;
  font-weight: 700;
}

.blog-thumbnail {
  margin-bottom: 13px;
  padding: 6px 12px;
}

.footer-logo {
  text-decoration: none;
}

.hero-blog {
  height: 300px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.smallest-divider {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto;
  background-color: #dedede;
}

.author-bio {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.author-bio p {
  font-size: 13px;
  line-height: 21px;
}

.social-link {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.82;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 0.45;
}

.blog-post {
  display: block;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.featuredthumbnail {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navmenu {
  position: static;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 11px;
  margin-left: auto;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(35, 47, 56, 0.22);
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Oxygen, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.view-all {
  margin-bottom: 13px;
  padding-right: 18px;
  padding-left: 18px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
}

.full-divide {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #dedede;
}

.author-photo {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 100%;
}

.social-icon {
  margin-top: 0px;
  margin-bottom: 0px;
}

.category-section {
  margin-bottom: -17px;
  padding: 0px;
  border-bottom: 1px none #e0e0e0;
  background-color: transparent;
}

.category-link {
  display: block;
  margin-right: 0px;
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 13px;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #768088;
  text-align: center;
  text-decoration: none;
}

.category-link:hover {
  color: #243039;
}

.dark-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  height: 100%;
  background-color: #000;
  opacity: 0.23;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  text-shadow: none;
}

.footer-links {
  text-align: right;
}

.category-block {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.category-thumbnail {
  position: relative;
  overflow: hidden;
  height: 140px;
  padding: 57px 30px 30px;
  border-radius: 3px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.39);
}

.category-name {
  position: absolute;
  z-index: 10;
  margin-top: 16px;
  margin-left: 15px;
  color: #fff;
}

.hero-wrapper {
  position: relative;
  z-index: 10;
}

.category-wrapper {
  margin-bottom: -23px;
}

.field-label {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-field {
  height: 50px;
  padding-bottom: 9px;
  border-radius: 2px;
  font-family: 'Abhaya Libre', sans-serif;
}

.contact-field:focus {
  border: 1px solid #5cc489;
  color: #243039;
}

.contact-field.message {
  height: 150px;
}

.social-text {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 26px;
  background-image: url('../images/social-18.svg');
  background-position: 0px 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-family: 'Abhaya Libre', sans-serif;
  color: #243039;
  font-size: 14px;
  text-decoration: none;
}

.social-text:hover {
  color: #ac0003;
}

.social-text.facebook {
  background-image: url('../images/social-03.svg');
  background-size: 15px;
}

.social-text.instagram {
  background-image: url('../images/social-07.svg');
  background-size: 15px;
}

.success-message {
  padding-top: 27px;
  border-radius: 3px;
  background-color: #5cc489;
  color: #fff;
}

.success-text {
  font-size: 16px;
}

.section-title {
  margin-top: 60px;
  font-size: 25px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 2px;
}

.blog-post-title {
  margin-top: 0px;
  margin-bottom: 7px;
}

.dynamicslide {
  overflow: hidden;
  height: 300px;
  min-height: 400px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%, 50% 50%, 50% 50%, 0px 0px, 0px 0px;
  background-size: cover, cover, cover, cover, 125px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}

.dynamicitem {
  display: block;
}

.latest-slider {
  height: 480px;
}

.latest-dynamic {
  position: static;
  overflow: visible;
}

.latest-item {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  height: 480px;
  min-height: 300px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.latest-slide {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.nesh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.latest {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.side-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.indv {
  display: block;
  padding: 0px;
}

.featureditem {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.featuredimg {
  position: static;
  display: block;
  overflow: visible;
  width: 100%;
  height: 240px;
  clear: none;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.latest-desc {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 206, 206, 0.5)), to(rgba(255, 206, 206, 0.5)));
  background-image: linear-gradient(180deg, rgba(255, 206, 206, 0.5), rgba(255, 206, 206, 0.5));
}

.latest-wrapper {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.slider {
  height: 500px;
}

.div-block {
  background-image: url('../images/photo-1433155327100-12aac6a14ff1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.image {
  display: none;
}

.slide-2 {
  background-image: url('../images/photo-1433878455169-4698e60005b1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/photo-1433854304641-67729357fe18.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/photo-1436285122087-89584a1d9398.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.column {
  margin-bottom: 20px;
}

.column-2 {
  margin-bottom: 20px;
}

.slide-nav {
  bottom: 7%;
  display: block;
  font-size: 12px;
}

.link {
  padding-right: 20px;
}

.blog-title-text {
  padding-right: 20px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
}

.blog-title-text:hover {
  color: #fff;
  text-decoration: underline;
}

.blog-author-name {
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  font-weight: 700;
}

.blog-author-name:hover {
  color: #fff;
  text-decoration: underline;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blog-tag-2 {
  position: absolute;
  left: 80px;
  top: 20px;
  padding: 7px 9px;
  border-radius: 20px;
  background-color: #ac0003;
  box-shadow: none;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.search-form-wrapper {
  position: relative;
  display: inline-block;
  height: 50px;
  min-width: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 0px none transparent;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.hamburger {
  height: 35px;
  max-height: 40px;
}

.globe {
  max-width: none;
  margin-right: 0px;
  margin-bottom: 0px;
}

.x-icon {
  width: 25px;
  margin-bottom: 0px;
}

.nav-button-wrap {
  margin-right: 0px;
  padding-right: 20px;
}

.nav-link-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #b4b4b4 #b4b4b4 #e0e0e0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Abhaya Libre', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.nav-link-2:hover {
  border-style: none;
  border-color: #000;
  border-radius: 0px;
  color: #ac0003;
}

.search-input-3 {
  min-height: 30px;
  margin-bottom: 0px;
  padding-left: 15px;
  border-style: none;
  border-radius: 20px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.search-icon {
  width: 45px;
  margin-bottom: 0px;
}

.search-form {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 0px;
  border-color: #000;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 9px 21px -8px rgba(0, 0, 0, 0.73);
  cursor: default;
}

.open-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-inner-02 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  max-width: 1140px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.brand-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #fff;
}

.nav-wrapper-02 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 0px none #243039;
  background-color: #fff;
}

.menu-button-2 {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-button-2.w--open {
  padding-left: 18px;
  background-color: transparent;
  color: transparent;
}

.close-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  padding: 12px;
}

.search-button-3 {
  width: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #8a0002;
  background-image: url('../images/magnifying-glass.svg');
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #7e0000;
  font-size: 0px;
}

.search-button-3:hover {
  border-radius: 20px;
  background-color: #8b0002;
}

.hero-section-slider {
  margin-top: 90px;
}

.featured-text-hero-slider {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  padding: 60px 20px 80px;
}

.hero-slider-img {
  width: 100%;
  max-width: none;
  margin-bottom: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  width: 100%;
  max-width: none;
}

.image-3 {
  width: 100%;
  height: 100%;
  max-width: none;
  border-radius: 3px;
}

.image-4 {
  width: 100%;
  height: 100%;
  max-width: none;
}

.left-arrow-2 {
  display: none;
}

.right-arrow-2 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  font-size: 16px;
}

.slide-nav-2 {
  bottom: 10%;
  font-size: 9px;
}

.link-block-2 {
  display: block;
}

.slider-1 {
  border-radius: 3px;
}

.div-block-5 {
  border-radius: 3px;
}

.seconadry-slider-1 {
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0 rgba(77, 86, 93, 0.6);
}

.short-summary-text {
  margin-top: 10px;
  background-color: rgba(34, 34, 34, 0.39);
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.short-summary-section {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.author-summary-section {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.right-arrow-3 {
  display: block;
  font-size: 16px;
}

.left-arrow-3 {
  display: none;
}

.slide-nav-3 {
  bottom: 10%;
  font-size: 9px;
}

.pricing-items {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.pricing-wrapper-two {
  display: -ms-grid;
  display: grid;
  margin-bottom: -40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.pricing-card-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 32px 0px 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7fa;
}

.pricing-image-two {
  max-width: 30%;
  margin-right: 40px;
}

.pricing-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.tagline {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
}

.pricing-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 20px;
}

.pricing-divider-two {
  height: 1px;
  margin: 9px -16px 16px;
  background-color: #e4ebf3;
}

.pricing-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pricing-block {
  margin-bottom: -10px;
}

.pricing-details-text {
  margin-bottom: 8px;
}

.heading {
  margin-top: 10px;
  line-height: 25px;
}

.small-card-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 3px;
  background-color: #243039;
}

.columns {
  margin-top: 0px;
}

.img-wrapper {
  width: auto;
  height: auto;
  min-height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-5 {
  width: auto;
  height: 110px;
  max-width: none;
  margin-bottom: 0px;
}

.article-heading-landscape-section {
  display: block;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.article-heading-landscape-section:hover {
  color: #fff;
  text-decoration: underline;
}

.column-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-block-6 {
  width: 100%;
  height: 100%;
}

.text-block {
  margin-top: 5px;
  padding-right: 5px;
  padding-left: 0px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.div-block-7 {
  max-width: 100%;
  padding: 10px 10px 10px 20px;
}

.opinions-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}

.column-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.column-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.column-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-2 {
  color: #fff;
  font-weight: 400;
}

.container-3 {
  display: none;
}

.author-title-2 {
  float: left;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 35px;
}

.thumbnail-image-2 {
  display: block;
  width: 100%;
  height: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #d6d6d6;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.category-tag-2 {
  position: absolute;
  left: 10px;
  top: 4px;
  display: inline-block;
  margin-top: 6px;
  margin-right: 6px;
  padding: 7px 9px;
  border-radius: 2px;
  background-color: #ac0003;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.thumbnail-text-2 {
  position: relative;
  overflow: hidden;
  height: 93px;
  padding: 13px;
  border-top: 1px solid #e5e5e5;
  text-align: left;
}

.horizontal-slide-1 {
  max-width: 28rem;
  margin-right: 2rem;
}

.horizontal-poem-section {
  display: none;
  padding: 0px 2.5rem 40px;
}

.testimonials_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 18rem;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.testimonials_content.is-first {
  padding: 0rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.blog-title-2 {
  display: inline-block;
  margin-bottom: 6px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #101315;
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.horizontal-scroll-news {
  height: auto;
  margin-bottom: 4rem;
  background-color: transparent;
}

.testimonials_arrow-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.horizontal-scroll-slide-nav {
  display: none;
}

.horizontal-scroll-mask {
  overflow: visible;
  width: 28rem;
}

.preview-text-2 {
  overflow: hidden;
  height: 40px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #7a7a7a;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  text-align: left;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.horizontal-scroll-arrow {
  position: absolute;
  left: 0%;
  top: auto;
  right: 5%;
  bottom: -5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 10px -5px rgba(51, 51, 51, 0.3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #151d53;
}

.horizontal-scroll-arrow:hover {
  background-color: #ac0003;
  color: #fff;
}

.horizontal-scroll-arrow.right {
  left: 5%;
  top: auto;
  right: 0%;
  bottom: -5rem;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.05);
}

.secondry-slider-2 {
  box-shadow: 2px 2px 5px 0 rgba(77, 86, 93, 0.6);
}

.secondry-slider-3 {
  box-shadow: 2px 2px 5px 0 rgba(77, 86, 93, 0.6);
}

.column-7 {
  margin-bottom: 20px;
}

.main-section-3 {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #000;
}

.main-section-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-3 {
  font-weight: 400;
}

.grid {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border: 0px solid #000;
}

.grid-2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-grid-columns: 0.25fr 0.25fr 1fr;
  grid-template-columns: 0.25fr 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-4 {
  text-align: center;
}

.paragraph {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Fml revathi', Arial, sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  text-align: justify;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-4 {
  max-width: 500px;
  text-align: center;
}

.container-5 {
  padding-right: 10px;
  padding-left: 10px;
}

.container-6 {
  padding-right: 10px;
  padding-left: 10px;
}

.dropdown-toggle {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.dropdown-toggle.w--open {
  position: static;
}

.text-block-2 {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.dropdown-link {
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-link-2 {
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 16px;
}

.dropdown-link-3 {
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 16px;
}

.dropdown-link-4 {
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 16px;
}

.dropdown-link-5 {
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 16px;
}

.dropdown-list {
  z-index: 10;
  background-color: #ddd;
}

.dropdown-list.w--open {
  position: absolute;
  border-radius: 10px;
  background-color: #181818;
}

.dropdown-link-6 {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.dropdown-link-7 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
}

.dropdown-link-8 {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.dropdown-list-2 {
  z-index: 10;
  opacity: 0.1;
}

.dropdown-list-2.w--open {
  border-radius: 10px;
  background-color: #1b1b1b;
  opacity: 1;
}

.div-block-9 {
  padding-top: 80px;
}

.grid-3 {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.text-block-3 {
  display: inline-block;
  padding: 7px 9px;
  border-radius: 3px;
  background-color: #ac0003;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link-3 {
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #ac0003;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  white-space: normal;
}

.author-name-bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding: 10px 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: ivory;
  font-family: 'PT Serif', serif;
  color: #000;
  font-weight: 400;
}

.columns-2 {
  display: block;
}

.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-8 {
  max-width: 100px;
}

.tag-link-landscape-section {
  display: inline-block;
  margin-bottom: 10px;
  padding: 7px 9px;
  border-radius: 20px;
  background-color: #ac0003;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.author-name-landscape-section {
  display: block;
  margin-bottom: 5px;
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.short-summary-img-link {
  width: 100%;
}

.column-8 {
  margin-bottom: 20px;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-10 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blog-section {
  position: static;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.link-4 {
  font-family: 'Fml revathi', Arial, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.blog-heading-link {
  padding: 10px;
  background-color: ivory;
}

.container-9 {
  max-width: 1200px;
}

.blog-author-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ac0003;
}

.image-6 {
  width: 25px;
  height: 25px;
  max-width: none;
  margin-bottom: 0px;
}

.body {
  background-color: transparent;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 90px;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/bamboo.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bamboo.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.heading-5 {
  margin-bottom: 0px;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 35px;
  text-align: center;
}

.link-5 {
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.blog-image {
  height: 250px;
}

.column-9 {
  padding-right: 10px;
  padding-left: 10px;
}

.blog-card {
  box-shadow: 2px 2px 5px 0 rgba(77, 86, 93, 0.6);
}

.columns-3 {
  margin-bottom: 20px;
}

.columns-4 {
  margin-bottom: 20px;
}

.dropdown {
  border: 1px none #000;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/photo-1413977886085-3bbbf9a7cf6e.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/photo-1413977886085-3bbbf9a7cf6e.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.container-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-block-4 {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}

.paragraph-2 {
  font-family: 'Abhaya Libre', sans-serif;
}

.grid-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.youtube-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-7 {
  width: 25px;
  height: 25px;
  max-width: none;
  margin-bottom: 0px;
}

.image-8 {
  width: 25px;
  height: 25px;
  max-width: none;
  margin-bottom: 0px;
}

.image-9 {
  width: 25px;
  height: 25px;
  max-width: none;
  margin-bottom: 0px;
}

.image-10 {
  width: 25px;
  height: 25px;
  max-width: none;
  margin-bottom: 0px;
}

.image-11 {
  width: 25px;
  height: 25px;
  max-width: none;
  margin-bottom: 0px;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  margin-bottom: 10px;
  font-family: 'Abhaya Libre', sans-serif;
  color: #ac0003;
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.grid-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-12 {
  width: 40px;
  max-width: none;
  margin-bottom: 0px;
}

.image-13 {
  width: 40px;
  max-width: none;
  margin-bottom: 0px;
}

.image-14 {
  width: 40px;
  max-width: none;
  margin-bottom: 0px;
}

.image-15 {
  width: 40px;
  max-width: none;
  margin-bottom: 0px;
}

.feature-image-link-block {
  width: 100%;
  height: 100%;
  max-height: none;
}

.hero-img-link-block {
  width: 100%;
  height: 100%;
}

.icon {
  font-size: 18px;
}

.container-11 {
  padding-right: 100px;
  padding-left: 100px;
}

.text-field-cf3 {
  height: 45px;
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f4f8 #f0f4f8 transparent;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.text-field-cf3.big {
  height: 100px;
}

.form-cf3 {
  margin-top: 20px;
  text-align: center;
}

.contact-form-wrapper {
  width: 100%;
  height: auto;
  max-width: none;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: ivory;
  box-shadow: none;
}

.success-message-cf3 {
  background-color: #f0f4f8;
  font-weight: 600;
}

.submit-button-cf3 {
  margin-top: 20px;
  padding: 12px 54px;
  border-radius: 4px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ac0003), to(#ac0003));
  background-image: linear-gradient(180deg, #ac0003, #ac0003);
  box-shadow: 1px 1px 3px 0 #cfcfcf;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  font-family: 'Abhaya Libre', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.submit-button-cf3:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.error-message-cf3 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-title-cf3 {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.form-subtitle-cf3 {
  max-width: 400px;
  font-family: 'Abhaya Libre', sans-serif;
  color: #969696;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

html.w-mod-js *[data-ix="navbar"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

html.w-mod-js *[data-ix="hero-text-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="hero-button"] {
  opacity: 0;
  -webkit-transform: scale(0.97, 0.97);
  -ms-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
}

html.w-mod-js *[data-ix="view-more"] {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .main-section {
    padding: 40px 10px;
  }

  .main-section.dark {
    padding-right: 0px;
    padding-left: 0px;
  }

  .preview-text {
    overflow: hidden;
    max-height: 40px;
  }

  .section-heading {
    display: block;
    text-align: center;
  }

  .footer-section {
    padding-right: 10px;
    padding-left: 10px;
  }

  .featured-wrapper {
    margin-top: 20px;
  }

  .featured-wrapper.hero-section.slider-1 {
    margin-top: 0px;
  }

  .featured-wrapper.hero-section.slider-2 {
    margin-top: 0px;
  }

  .featured-text {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-top: 60px;
    padding-bottom: 62px;
    border-radius: 3px;
  }

  .featured-title {
    font-size: 23px;
  }

  .blog-tag-1 {
    z-index: 10;
    font-size: 10px;
  }

  .featured-description {
    overflow: hidden;
    max-height: none;
    padding-right: 0px;
    font-size: 22px;
    line-height: 22px;
  }

  .featured-image.first {
    border-radius: 5px;
  }

  .hero-header {
    font-size: 25px;
  }

  .blog-thumbnail {
    width: 33.33%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .featuredthumbnail {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .category-block {
    padding: 10px 0px;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .hero-slide {
    margin-bottom: auto;
    padding-top: 0px;
  }

  .blog-author-name {
    font-size: 14px;
  }

  .blog-tag-2 {
    left: 75px;
    font-size: 10px;
  }

  .hamburger {
    width: 40px;
    padding-top: 0px;
    color: #fff;
  }

  .x-icon {
    margin-bottom: 0px;
  }

  .nav-button-wrap {
    display: block;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
  }

  .search-icon {
    margin-bottom: 0px;
  }

  .nav-inner-02 {
    position: static;
    z-index: 9;
    padding: 10px 20px;
  }

  .nav-menu-2 {
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #fff;
    box-shadow: 0 14px 13px -3px rgba(0, 0, 0, 0.11);
  }

  .menu-button-2 {
    padding: 12px;
    color: #fff;
  }

  .menu-button-2.w--open {
    padding-left: 12px;
    background-color: transparent;
  }

  .hero-section-slider {
    margin-top: 75px;
  }

  .image-3 {
    border-radius: 3px;
  }

  .slider-1 {
    border-radius: 5px;
  }

  .div-block-5 {
    border-radius: 2px;
  }

  .short-summary-text {
    font-size: 12px;
  }

  .container-2 {
    max-width: 728px;
  }

  .pricing-card-two {
    padding: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pricing-image-two {
    margin-right: 20px;
  }

  .image-5 {
    height: 90px;
  }

  .article-heading-landscape-section {
    font-size: 18px;
  }

  .text-block {
    font-size: 12px;
  }

  .div-block-7 {
    padding-left: 10px;
  }

  .horizontal-poem-section {
    overflow: hidden;
  }

  .preview-text-2 {
    overflow: hidden;
    max-height: 40px;
  }

  .horizontal-scroll-arrow {
    right: 10%;
  }

  .horizontal-scroll-arrow.right {
    left: 10%;
  }

  .main-section-3 {
    padding-bottom: 20px;
  }

  .grid {
    border-top: 1px solid #999;
  }

  .paragraph {
    font-size: 18px;
  }

  .div-block-12 {
    margin-top: 80px;
  }

  .div-block-13 {
    margin-top: 80px;
  }

  .container-10 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .text-block-4 {
    font-size: 20px;
    text-align: justify;
  }

  .contact-form-wrapper {
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
  }

  .form-subtitle-cf3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    height: 440px;
    padding-top: 162px;
  }

  .main-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-section.dark {
    padding-right: 0px;
    padding-left: 0px;
  }

  .main-section.bottom-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .featured-wrapper.hero-section.slider-1 {
    height: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .featured-wrapper.hero-section.slider-2 {
    height: 300px;
    margin-top: 0px;
  }

  .featured-text {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-top: 60px;
    padding-bottom: 62px;
  }

  .featured-title {
    font-size: 16px;
    line-height: 20px;
  }

  .featured-description {
    font-size: 20px;
    line-height: 20px;
  }

  .featured-image {
    height: 300px;
  }

  .featured-image.slider-1 {
    height: 300px;
  }

  .featured-image.slider-2 {
    height: 300px;
  }

  .author-picture {
    width: 210px;
    margin-right: 13px;
    margin-bottom: 6px;
  }

  .authorbio {
    font-size: 14px;
    line-height: 17px;
  }

  .blog-thumbnail {
    width: 50%;
  }

  .featuredthumbnail {
    padding: 10px 0px;
  }

  .navmenu {
    width: 100%;
  }

  .category-link {
    display: block;
    margin-bottom: -3px;
    padding-right: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .category-wrapper {
    display: inline-block;
    overflow: visible;
    width: 33.33%;
    padding-top: 4px;
    padding-bottom: 4px;
    clear: none;
  }

  .about-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .logo {
    padding-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .success-message {
    padding-top: 28px;
    background-color: #5cc489;
    color: #fff;
    font-size: 18px;
  }

  .success-text {
    font-size: 18px;
  }

  .slider {
    height: 300px;
  }

  .slide-nav {
    bottom: 10%;
  }

  .image-3 {
    width: 100%;
  }

  .image-4 {
    width: 100%;
  }

  .pricing-items {
    padding: 60px 15px;
  }

  .pricing-card-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .pricing-image-two {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .thumbnail-image-2 {
    height: 200px;
  }

  .horizontal-slide-1 {
    width: auto;
    max-width: none;
    margin-right: 1.25rem;
  }

  .horizontal-poem-section {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .testimonials_arrow-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .horizontal-scroll-mask {
    width: 100%;
  }

  .horizontal-scroll-arrow {
    right: 10%;
  }

  .column-9 {
    margin-bottom: 10px;
  }

  .column-10 {
    margin-bottom: 10px;
  }

  .column-11 {
    margin-bottom: 10px;
  }

  .contact-form-wrapper {
    margin-right: auto;
    margin-left: auto;
  }

  .contact-form-2 {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 18px;
    line-height: 28px;
  }

  .hero-section {
    height: 430px;
    padding-top: 118px;
    padding-right: 21px;
    padding-left: 21px;
  }

  .navbar {
    padding: 2px 15px 7px;
  }

  .menu-link {
    margin-right: -70px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-button {
    margin-top: 13px;
  }

  .long-text {
    margin-top: 0px;
    margin-left: -64px;
    padding-left: 0px;
    float: left;
  }

  .hero-subheading {
    line-height: 27px;
  }

  .main-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .main-section.bottom-padding {
    padding: 5px 0px 0px;
  }

  .author-img {
    display: block;
  }

  .section-heading {
    display: block;
  }

  .med-divider {
    width: 60%;
  }

  .form-wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .field {
    width: 100%;
    margin-bottom: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .submit-button {
    width: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .footer-section {
    position: relative;
  }

  .footer-link {
    display: block;
    padding-left: 0px;
    float: none;
    text-align: center;
  }

  .featured-wrapper.hero-section.slider-1 {
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .featured-wrapper.hero-section.slider-2 {
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .featured-text {
    padding: 0px 15px 70px 10px;
  }

  .featured-title {
    font-size: 16px;
  }

  .blog-tag-1 {
    left: 15px;
    top: 15px;
    padding: 5px 6px;
    font-size: 9px;
    line-height: 12px;
  }

  .featured-description {
    display: none;
    margin-bottom: 10px;
  }

  .featured-details {
    padding-right: 15px;
    padding-left: 15px;
  }

  .featured-image {
    height: 230px;
  }

  .featured-image.slider-1 {
    height: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .featured-image.slider-2 {
    height: 200px;
  }

  .inner-hero {
    height: 330px;
  }

  .author-picture {
    display: block;
    width: 130px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
    float: none;
    border-radius: 110px;
    text-align: center;
  }

  .author-name-main {
    margin-top: 2px;
    font-size: 23px;
    line-height: 34px;
    text-align: center;
  }

  .authorbio {
    font-size: 14px;
    text-align: center;
  }

  .social-wrapper {
    text-align: center;
  }

  .hero-header {
    font-size: 25px;
    line-height: 32px;
  }

  .blog-thumbnail {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .footer-logo {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .footer-logo.w--current {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .blog-post {
    width: 95%;
  }

  .featuredthumbnail {
    padding: 5px 0px;
  }

  .navmenu {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    background-color: rgba(35, 47, 56, 0.72);
  }

  .nav-link {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    opacity: 0.7;
    font-size: 17px;
    text-align: center;
  }

  .nav-link.w--current {
    opacity: 1;
    color: #fff;
  }

  .logo {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    float: left;
    text-align: center;
  }

  .nav-menu {
    position: absolute;
    display: block;
    width: 100%;
    padding-top: 60px;
    background-color: rgba(35, 47, 56, 0.92);
  }

  .close-x {
    position: absolute;
    left: 35px;
    top: 21px;
    right: 35px;
    display: block;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 27px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .success-text {
    line-height: 27px;
  }

  .nesh {
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .slider {
    height: 230px;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .column {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .column-2 {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .hero-slide {
    height: auto;
    margin-bottom: 0px;
  }

  .div-block-3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .slide-nav {
    bottom: 11%;
    font-size: 9px;
  }

  .blog-title-text {
    font-size: 28px;
    line-height: 20px;
    font-weight: 700;
  }

  .blog-author-name {
    font-size: 16px;
  }

  .blog-tag-2 {
    left: 60px;
    top: 15px;
    padding: 5px 6px;
    font-size: 9px;
    line-height: 12px;
  }

  .search-form-wrapper {
    min-width: 56px;
    border-left: 0px none transparent;
  }

  .hamburger {
    height: 25px;
    padding-left: 10px;
  }

  .x-icon {
    width: 20px;
  }

  .nav-button-wrap {
    padding-right: 0px;
  }

  .nav-link-2 {
    font-size: 14px;
    line-height: 15px;
  }

  .search-icon {
    width: 35px;
  }

  .search-form {
    width: 200px;
  }

  .open-icon {
    padding-top: 2px;
  }

  .nav-inner-02 {
    overflow: visible;
    padding-right: 0px;
    padding-left: 0px;
  }

  .brand-link {
    padding-left: 0px;
  }

  .menu-button-2 {
    padding-left: 0px;
  }

  .menu-button-2.w--open {
    padding-left: 0px;
  }

  .close-icon {
    padding-bottom: 12px;
  }

  .search-button-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .featured-text-hero-slider {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 15px;
    padding-bottom: 70px;
    padding-left: 10px;
  }

  .image-3 {
    max-width: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .container-2 {
    max-width: none;
  }

  .pricing-card-two {
    padding: 15px;
  }

  .pricing-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .pricing-details {
    margin-bottom: -10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .pricing-block {
    margin-bottom: 10px;
  }

  .article-heading-landscape-section {
    font-size: 16px;
    line-height: 15px;
    font-weight: 600;
  }

  .column-3 {
    padding-bottom: 0px;
  }

  .text-block {
    max-width: none;
    margin-top: 5px;
    font-size: 11px;
    line-height: 15px;
  }

  .div-block-7 {
    max-width: 100%;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .opinions-section {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .column-4 {
    padding-bottom: 0px;
  }

  .author-title-2 {
    font-size: 12px;
  }

  .thumbnail-image-2 {
    height: 180px;
  }

  .horizontal-slide-1 {
    width: 100%;
  }

  .testimonials_content {
    padding: 1.25rem;
  }

  .blog-title-2 {
    font-size: 16px;
    text-align: left;
  }

  .preview-text-2 {
    font-size: 12px;
  }

  .horizontal-scroll-arrow {
    right: 20%;
  }

  .horizontal-scroll-arrow.right {
    left: 20%;
  }

  .column-7 {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .main-section-3 {
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: transparent;
  }

  .main-section-2 {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .paragraph {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }

  .text-block-2 {
    font-size: 14px;
  }

  .dropdown-link {
    font-size: 12px;
    line-height: 20px;
  }

  .dropdown-link-2 {
    font-size: 12px;
  }

  .dropdown-link-3 {
    font-size: 12px;
  }

  .dropdown-link-4 {
    font-size: 12px;
  }

  .dropdown-link-5 {
    font-size: 12px;
  }

  .text-block-3 {
    font-size: 12px;
  }

  .link-3 {
    font-family: 'Fml revathi', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .author-name-bar {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .tag-link-landscape-section {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 9px;
  }

  .author-name-landscape-section {
    font-size: 11px;
    line-height: 18px;
  }

  .column-8 {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .grid-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-12 {
    margin-top: 70px;
  }

  .column-9 {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .column-10 {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .column-11 {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-4 {
    font-size: 20px;
    line-height: 26px;
  }

  .grid-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .paragraph-3 {
    font-family: 'Abhaya Libre', sans-serif;
  }

  .image-11 {
    width: 25px;
    height: 25px;
    max-width: none;
    margin-bottom: 0px;
  }

  .text-block-5 {
    font-family: 'Abhaya Libre', sans-serif;
    color: #ac0003;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
  }

  .image-12 {
    width: 30px;
  }

  .image-13 {
    width: 30px;
  }

  .image-14 {
    width: 30px;
  }

  .image-15 {
    width: 30px;
  }

  .contact-form-wrapper {
    width: 100%;
    border-radius: 0px;
  }

  .success-message-cf3 {
    color: #f22d83;
    font-size: 16px;
  }

  .submit-button-cf3 {
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ac0003), to(#ac0003));
    background-image: linear-gradient(180deg, #ac0003, #ac0003);
    font-family: 'Abhaya Libre', sans-serif;
  }

  .contact-form-2 {
    width: 100%;
  }

  .form-subtitle-cf3 {
    font-size: 18px;
  }
}

#w-node-bbc580de-90b1-f3e4-dd40-1106f0393fa2-308aeaea {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-cb1b907e-8377-668f-62ca-866fd668bd60-308aeaea {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_2f7aad95-f767-7a87-3a25-a4338108809b-308aeaea {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_3e729f14-33a9-6adb-5992-7d24c7a2ed7e-308aeaea {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-aac4d5c7-d196-c350-37fe-b32ebb73dd06-308aeaea {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-cc422e0b-208e-770c-9709-137630811ea9-308aeaea {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-aac4d5c7-d196-c350-37fe-b32ebb73dd12-308aeaea {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_4bb08767-d01c-e2bc-513f-6d1d34e8592f-308aeaea {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_337c61f7-dd01-67e6-00f0-65671bfbcb97-d067a683 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e7d33be3-04cf-b86e-889c-dace302e3627-d067a683 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_1d9a6efb-f43f-f571-6182-b77dff226e0c-d067a683 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_384eeb37-5707-94f1-8812-56730d2e75ff-d067a683 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b617e1fb-da57-1b87-96d4-02680834bc2d-d067a683 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_2bba2147-cbe9-6610-cea8-449670aabeb5-d067a683 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-bcab787d-0aff-05a4-cd68-eff2724dd8c9-d067a683 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a723e-964a723a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a724e-964a723a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a725a-964a723a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a7268-964a723a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_21c45422-8a9e-d262-b040-635858d453ca-964a723a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a726a-964a723a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a726c-964a723a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a726e-964a723a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f36704f4-d11b-b62a-ef3f-806d964a7270-964a723a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_10833f18-27be-19d5-833d-172892a61d56-228aeaf1 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_142af58a-ff73-e050-3504-55382fc254d5-228aeaf1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5ce056a5-b812-6666-4f69-7cb2faeb31a5-228aeaf1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d8f01746-3912-6bb8-c5d8-9df36fe4d59e-228aeaf1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e5a9b09e-33c4-7dc8-0538-537a9193973d-228aeaf1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_384eeb37-5707-94f1-8812-56730d2e75ff-d067a683 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-fb470055-baa3-24ec-6cd0-dee0c1351c48-d067a683 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Fml revathi';
  src: url('../fonts/FML-Revathi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fml revathi';
  src: url('../fonts/FML-Revathi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}